# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
instance/
*.db
# Logs
logs/
*.log
*.har
# Uploads
uploads/


# macOS
.DS_Store

# Windows
Thumbs.db
