# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
ENV/
env/
scripts/
instance/
*.db
*.pem
# Logs
logs/
*.log
*.har
# Uploads
uploads/


# macOS
.DS_Store

# Windows
Thumbs.db
