# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# Instance & Data
instance/
*.db
*.pem
*.json
*.har

# Uploads & Logs
uploads/
logs/
*.log

# OS Files
.DS_Store
Thumbs.db
